.stats {
  display: flex;
  flex-direction: column;
  /* height: 30%; */
  width: 100%;

  /* overflow-x: scroll; */
  /* background-color: white; */
  justify-content: space-around;
}

.cards {
  display: flex;

  justify-content: space-around;
}
